<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Caspar Mobile test suite" parallel="false" verbose="2">
    <test name=" Flow Test Cases" parallel="false" preserve-order="true" >
        <classes>
            <class name="test.TestCases" />
            <parameter name="id" value="OYU2406"/>
            <parameter name="pass" value="12345678"/>
        </classes>
    </test>
</suite>